.titleBlock {
    font-size: 16px;
    letter-spacing: -0.24px;
    background: linear-gradient(41deg, #3482ff 20.35%, #fff 293.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 450;
}
