.block {
    max-width: 1292px;
    padding-bottom: 40px;
    margin: 0 auto;
    .content {
        min-height: 261px;
        border-radius: 12px;
        background-color: #3482ff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .blockText {
            @media (max-width: 1120px) {
                text-align: center;
            }
            max-width: 320px;
            h2 {
                font-size: 42px;
                font-weight: 400;
                line-height: 42px;
                letter-spacing: -0.01em;
                color: #fff;
                margin-bottom: 20px;
            }
            h4 {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                letter-spacing: -0.01em;
                color: #fff;
            }
        }
        .blockCards {
            display: flex;
            align-self: center;
            justify-content: center;
            row-gap: 12px;
            flex-wrap: wrap;
            column-gap: 12px;
            @media (max-width: 1120px) {
                margin-top: 20px;
            }
        }
        @media (max-width: 1120px) {
            padding: 20px 0px;
        }
    }
    @media (max-width: 800px) {
        padding: 0px 10px;
    }
}
