@import "./../../styles/variables.scss";

.mainBlock {
    padding: 20px;
    h1 {
        font-size: 78px;
        text-align: center;
        display: block;
        padding-top: 138px;
        letter-spacing: -1%;
        font-weight: 400;
        span {
            color: $highlightedTextColor;
        }
        @media only screen and (max-width: 768px) {
            font-size: 50px;
        }
    }
}
