@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-REGULAR.OTF") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-BLACK.OTF") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-BOLD.OTF") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-BOOK.OTF") format("opentype");
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-LIGHT.OTF") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-MEDIUM.OTF") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-SEMIBOLD.OTF") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-THIN.OTF") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-ULTRALIGHT.OTF") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-REGULARITALIC.OTF") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-BLACKTITALIC.OTF") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-BOLDTITALIC.OTF") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-BOOKITALIC.OTF") format("opentype");
    font-weight: 450;
    font-style: italic;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-LIGHTTITALIC.OTF") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-MEDIUMTITALIC.OTF") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-SEMIBOLDTITALIC.OTF") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-THINTITALIC.OTF") format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "SuisseIntl";
    src: local(""),
        url("../assets/fonts/SUISSEINTL-ULTRALIGHTITALIC.OTF") format("opentype");
    font-weight: 200;
    font-style: italic;
}
